/* module-key = 'com.pyxis.greenhopper.jira:gh-view-issue', location = 'includes/css/gh-view-issue.less' */
.ghx-label-0 {
  color: #fff;
  background-color: #6b778c;
  border-color: #6b778c;
}
.ghx-label-0-border {
  border-right: 4px solid #6b778c;
}
.ghx-label-1 {
  color: #fff;
  background-color: #8d542e;
  border-color: #8d542e;
}
.ghx-label-1-border {
  border-right: 4px solid #8d542e;
}
.ghx-label-2 {
  color: #fff;
  background-color: #ff8b00;
  border-color: #ff8b00;
}
.ghx-label-2-border {
  border-right: 4px solid #ff8b00;
}
.ghx-label-3 {
  color: #fff;
  background-color: #ffab00;
  border-color: #ffab00;
}
.ghx-label-3-border {
  border-right: 4px solid #ffab00;
}
.ghx-label-4 {
  color: #fff;
  background-color: #0052cc;
  border-color: #0052cc;
}
.ghx-label-4-border {
  border-right: 4px solid #0052cc;
}
.ghx-label-5 {
  color: #fff;
  background-color: #505f79;
  border-color: #505f79;
}
.ghx-label-5-border {
  border-right: 4px solid #505f79;
}
.ghx-label-6 {
  color: #fff;
  background-color: #60a222;
  border-color: #60a222;
}
.ghx-label-6-border {
  border-right: 4px solid #60a222;
}
.ghx-label-7 {
  color: #fff;
  background-color: #cc4388;
  border-color: #cc4388;
}
.ghx-label-7-border {
  border-right: 4px solid #cc4388;
}
.ghx-label-8 {
  color: #fff;
  background-color: #5243aa;
  border-color: #5243aa;
}
.ghx-label-8-border {
  border-right: 4px solid #5243aa;
}
.ghx-label-9 {
  color: #fff;
  background-color: #ff8f73;
  border-color: #ff8f73;
}
.ghx-label-9-border {
  border-right: 4px solid #ff8f73;
}
.ghx-label-10 {
  color: #fff;
  background-color: #2684ff;
  border-color: #2684ff;
}
.ghx-label-10-border {
  border-right: 4px solid #2684ff;
}
.ghx-label-11 {
  color: #fff;
  background-color: #008da6;
  border-color: #008da6;
}
.ghx-label-11-border {
  border-right: 4px solid #008da6;
}
.ghx-label-12 {
  color: #fff;
  background-color: #6b778c;
  border-color: #6b778c;
}
.ghx-label-12-border {
  border-right: 4px solid #6b778c;
}
.ghx-label-13 {
  color: #fff;
  background-color: #00875a;
  border-color: #00875a;
}
.ghx-label-13-border {
  border-right: 4px solid #00875a;
}
.ghx-label-14 {
  color: #fff;
  background-color: #de350b;
  border-color: #de350b;
}
.ghx-label-14-border {
  border-right: 4px solid #de350b;
}
